BOT_TOKEN="000000"
DATABASE_URL="postgresql+asyncpg://DBUSER:PASSWORD@localhost:5432/DBNAME"
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0
CORS_ALLOW_ORIGINS=["*"]
CORS_ALLOW_HEADERS=["*"]
PROJECT_HOST="127.0.0.1"
PROJECT_PORT=4000
ALLOWED_AVATAR_EXTENSIONS=["jpg", "jpeg", "png"]
ALLOWED_PRODUCT_IMAGE_EXTENSIONS=["jpg", "jpeg", "png", "webm"]
ALLOWED_MESSAGE_FILE_EXTENSIONS=["jpg", "jpeg", "png", "webm"]
AVATAR_SIZE=[100, 100]
PRODUCT_IMAGE_SIZE=[200, 200]
AVATAR_MAX_SIZE=5242880
PRODUCT_IMAGE_MAX_SIZE=5242880
MESSAGE_FILE_MAX_SIZE=5242880
AVATAR_STORAGE_PATH="media/avatars"
PRODUCT_IMAGE_STORAGE_PATH="media/products"
MESSAGE_FILE_STORAGE_PATH="media/messages"
FILE_MAX_NAME_LENGTH=100