.reputationCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 12px;
  background-color: $bg-color;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: $text-color;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.errorText {
  text-align: center;
  font-size: 20px;
  color: $hint-color;
}