.catalog {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $hint-color;
  height: 100%;
}

.ads {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}