.dropdown {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: $text-color;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.dropdownIcon {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  transition: all 0.15s ease-in-out;
}

.open {
  transform: rotate(180deg);
}