.search {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 24px;
  background-color: $bg-color;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: text;

  &::placeholder {
    color: $placeholder-color;
  }

  svg {
    color: $main-color;
  }
}

.input {
  font-size: 20px;
  color: $text-color;
  width: 100%;
}